<!DOCTYPE html>
<html lang="en" >

    <head>
        <meta charset="utf-8"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
    
        <link rel="preconnect" href="https://dragon.compress2go.com/" crossorigin>
        <link rel="preconnect" href="https://stats.compress2go.com/" crossorigin>
    
        <title>Compress PDF - Online PDF document compression</title>
       
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/dist/3509.6d5bcb31.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/dist/7088.9e4632fe.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/dist/qg-feature.43f8900a.css') }}">
    </head>

<body class="lang-en"   >
    <div id="userNotifications">
</div>


<div id="header" class="w-100 bg-white z-index-3 position-relative header-height-60">
    <div class="px-4 pl-4 pt-0 h-100">
        <div class="row justify-content-between h-100">
            <nav class="navbar d-flex z-index-2 px-0 py-0 position-static h-100 justify-content-between flex-grow-md-0">
                <div class="d-flex h-100 align-items-center pl-1 md-pl-4">
                    <a class="navbar-brand pr-4 d-flex justify-content-start mr-0"
                            href="index.html"
                            title="Different tools to compress all kinds of files"
                        >
                        <h3 class="font-weight-bold text-capitalize text-center">File Compressor</h3>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</div>



<div id="post-header" class="post-header">
    <div class="color-stripe row w-100 no-margin ">
        <div class="bg-main-1"></div>
        <div class="bg-main-2"></div>
        <div class="bg-main-3"></div>
        <div class="bg-main-4"></div>
        <div class="bg-main-5"></div>
        <div class="bg-main-6"></div>
        <div class="bg-main-7"></div>
        <div class="bg-main-8"></div>
    </div>
</div>

    <div class="">
        <div id="downloadEngineApp"></div>
            <div class="main-content sub subcontent">
                <div id="recaptchaContainer"></div>

                <div class="container content-header">
                        <div class="w-100 mx-0">
                            <h1>Compress PDF</h1>
                            <h2 class="text-left">Use this PDF compressor to reduce the file size of your PDF documents. Make PDFs smaller to send them via e-mail or upload them to the internet.</h2>
                        </div>
                </div>
    
    
    
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 d-flex flex-column gap-10">

                    <div class="row">
                        <div class="col-md-12 col-lg-12 d-flex flex-column gap-10">
                            <div class="row">
    
                                <div class="col-12">
                                    <div class="upload-container">                                                               
                                        <div class="uploadbox-wrapper d-flex flex-column gap-5">
    
                                            <form action="/compressdoc" method="POST" enctype="multipart/form-data">
                                                <div id="vue-uploadbox" class="vue-uploadbox-wrap p-10 bg-lighten br-8 position-relative bg-main-2">
                                                    <div class="d-flex br-8 fg-white h-100 w-100 border-white border-dashed border-1 bg-main-2">
                                                        <div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center gap-150">
                                                            <label for="file-upload" class="d-flex flex-column align-items-center font-size-125 py-3">
                                                                <i class="fa fa-cloud-upload-alt fa-5x vue-uploadbox-icon"></i>
                                                                <span class="px-1 text-center vue-uploadbox-drop-text">Drop Files here</span>
                                                                <input type="file" id="file-upload" name="file" style="display: none;" onchange="displayFileName()">
                                                            </label>
                                                            <button type="button" onclick="document.getElementById('file-upload').click()" class="btn btn-light font-size-125 font-weight-bold text-nowrap mb-0">
                                                                Choose File
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                                <div class="form-group submit-btn-container d-flex align-items-center justify-content-between flex-wrap mb-0">
                                                    <div class="d-flex gap-10">
                                                        <div id="selected-file-info" style="display: none;"></div>
                                                        <button type="submit" class="btn btn-lg submit-btn white-space-nowrap mb-0 d-flex align-items-center gap-10" disabled>
                                                            <strong class="text-uppercase convert_to">Start</strong>
                                                            <i class="fa fa-arrow-right lh-inherit"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                            
                                            <script>
                                                function displayFileName() {
                                                    var fileInput = document.getElementById('file-upload');
                                                    var selectedFile = fileInput.files[0];
                                                    var fileInfoDiv = document.getElementById('selected-file-info');
                                                    fileInfoDiv.style.display = 'block';
                                                    fileInfoDiv.textContent = 'Selected File: ' + selectedFile.name;
                                                    document.querySelector('.submit-btn').removeAttribute('disabled');
                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-12">
                            <div class="files-list files-list_v2 mb-0" id="fileuploadlist">
                                <div id="vueUploadList"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <!-- <div class="">
        <div class="container" id="page_function_container">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-8 col-lg-8">                             <form id="sendform">
                <input data-options-type="base" type="hidden" class="hidden" name="category" value="document"/>
                <input data-options-type="options" data-value-type="boolean" type="hidden" class="hidden" name="allow_multiple_outputs" value="true"/>
                <input data-options-type="base" type="hidden" class="hidden" name="target" value="pdf"/>
                
                <div class="panel mb-1 form-group panel-default p-t-10 p-b-10 radio-toggle" style="padding: 30px 20px 30px 20px;" data-type="radio" data-name="compression">
                    <div class="pull-left">
                        <input checked id="compress_basic" name="compression" data-value-type="string" data-options-type="options" data-value="basic"  type="radio" style="margin-top:5px;">
                    </div>
                    <div class="pull-left p-l-20">
                        <strong>Basic Compression</strong>
                        <br>Medium file size and high quality
                    </div>
                    <div class="pull-right">
                        <div class="badge badge-info text-uppercase">Default</div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="panel mb-4 form-group panel-default p-t-10 p-b-10 radio-toggle" style="padding: 30px 20px 30px 20px;" data-type="radio" data-name="compression">
                    <div class="pull-left">
                        <input id="compress_strong" name="compression" data-options-type="options" data-value-type="string" type="radio" data-value="strong" style="margin-top:5px;">
                    </div>
                    <div class="pull-left p-l-20">
                        <strong>Strong Compression</strong>
                                <br>Small file size and medium quality<br>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="panel mb-4 form-group panel-default p-t-10 p-b-10 radio-toggle" style="padding: 30px 20px 30px 20px;" data-type="radio" data-name="compression">
                    <div class="pull-left">
                        <input data-option-ignore="true" id="compress_none" name="compression" data-options-type="options" type="radio" data-value-type="string" data-value="null" style="margin-top:5px;">
                    </div>
                    <div class="pull-left p-l-20">
                            <label class="control-label" for="pdf_quality">
                            Choose from a preset
                        </label>
                        <select name="quality" data-parent-radio-id="compress_none" data-options-type="options" id="pdf_quality" class="form-control pdfQualitySelect">
                            <option value="insane">Insane (insane quality, 20 dpi images)</option>
                            <option value="minimum">Minimum (minimum quality, 40 dpi images)</option>
                            <option value="screen"
                                    selected="selected">Normal (screen quality, 72 dpi images)</option>
                            <option value="ebook">Ebook (low quality, 150 dpi images)</option>
                            <option value="printer">Printer (high quality, 300 dpi images)</option>
                            <option value="prepress">Prepress (high quality, color preserving, 300 dpi images)</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>

            <div class="card mb-3">
                <div class="card-header font-weight-bold">
                    <i class="fa fa-cogs"></i>
                    Optional Settings
                </div>
                <div class="form-group">
                    <label>
                    <input type="checkbox" data-options-type="options" value="1" name="grayscale" data-option-ignore-false="true"
                                id="grayscale"/> Grayscale images and text
                    </label>
                    <p>Convert all images and text to grayscale to further decrease the file size.</p>
                    <br>
                </div>
            </div>
        
            <div class="form-group submit-btn-container">
                <div class="submit-btn-wrapper d-table">
                    <button type="button" class="btn btn-lg submit-btn mb-0 white-space-nowrap d-flex align-items-center gap-10" id="submitBtn" disabled>
                        <strong class="text-uppercase convert_to">Start</strong>
                        <i class="fa fa-arrow-right lh-1"></i>
                    </button>
                </div>
            </div>
                                <noscript>
                                    <div id="noscriptAlert" class="alert alert-info alert-noscript no-border-radius"
                                        role="alert">
                                        <span><strong>Info:</strong> Please enable JavaScript for this website to function properly.</span>
                                    </div>
                                </noscript>
                            </form>
                        </div>
                    
                <div class="col-lg-4 col-md-4">
                            <div>
                                <span class="small text-ad pull-right hidden" style="margin-top:-15px;">Advertisement</span>
                                <div class="advertising-wrapper hidden br-4" style="min-height:250px; height:auto; padding: 20px 0 20px 0; background: #efefef; width: 100%;margin:auto;">
                                    <div class="advertising advertising-banner-pre_feature hidden">
                                                                                    
                                <div id='compress2go_pre_1'>

   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <div class="content-breaker pb-0 ">
        <div class="color-stripe row w-100 no-margin ">
            <div class="bg-main-1"></div>
            <div class="bg-main-2"></div>
            <div class="bg-main-3"></div>
            <div class="bg-main-4"></div>
            <div class="bg-main-5"></div>
            <div class="bg-main-6"></div>
            <div class="bg-main-7"></div>
            <div class="bg-main-8"></div>
        </div>
    </div>

        
    <!-- <div id="selectDownloader" class="modal fade" role="dialog">
        <div class="modal-dialog no-border-radius inherit">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title"><i class="fa fa-cloud-download-alt margin-right-5"></i>Select a downloader</div>
                </div>
                <div class="modal-body" style="position: relative">
                    <form id="SubmitDownloaderForm">
                        <div class="form-group">
                            <div class="">
                                <p class="small">Specify a downloader that fits your task</p>
                                <select name="engine" data-options-type="options" id="inputEngine" class="form-control" data-value-type="string" data-option-ignore="true">
                                    <option value="auto"  selected="selected" >Default</option>
                                    <option value="file" >file</option>
                                    <option value="website" >website</option>
                                    <option value="screenshot" >screenshot</option>
                                    <option value="screenshot_pdf" >pdf</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" id="downloaderOKButton">OK</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                </div>
                
            </div>
        </div>
    </div> -->

    <div id="qg-toast-container">
        <div id="qg-toast"></div>
    </div>

    </body>
</html>
