<!DOCTYPE html>
<html lang="en" >

<head>  
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
    <link rel="preload" href="{{ url_for('static', filename='assets/dist/fonts/mem5YaGs126MiZpBA-UNirkOX-hpOqc.f784b6eb.woff2') }}" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{{ url_for('static', filename='assets/dist/fonts/mem5YaGs126MiZpBA-UNirkOUuhv.7e06644b.woff') }}" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="{{ url_for('static', filename='assets/dist/fonts/mem8YaGs126MiZpBA-UFVZ0d.347639ec.woff') }}" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="{{ url_for('static', filename='assets/dist/fonts/fa-solid-900.f37f3d68.woff2') }}" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{{ url_for('static', filename='assets/dist/fonts/fa-regular-400.445f0cfc.woff2') }}" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{{ url_for('static', filename='assets/dist/fonts/fa-light-200.6ee2e1f4.woff2') }}" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{{ url_for('static', filename='assets/dist/fonts/fa-brands.8fbd5b1a.woff2') }}" as="font" type="font/woff2" crossorigin="anonymous">

    <title>File Compressor</title>

    <meta name="description" content="The best tool to reduce the file size of your files."/>
    <link rel="canonical" href="index.html"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/dist/3509.6d5bcb31.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/dist/qg-index.d73ab9b9.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/dist/3509.6d5bcb31.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/dist/7088.9e4632fe.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/dist/qg-feature.43f8900a.css') }}">

</head>

<body class="lang-en">
    <div id="userNotifications">
        <!-- do not delete this tag -->
    </div>

    <div id="header" class="w-100 bg-white z-index-3 position-relative header-height-60">
        <div class="px-4 pl-4 pt-0 h-100">
            <div class="row justify-content-between h-100">
                <nav class="navbar d-flex z-index-2 px-0 py-0 position-static h-100 justify-content-between flex-grow-md-0">
                    <div class="d-flex h-100 align-items-center pl-1 md-pl-4">
                        <a class="navbar-brand pr-4 d-flex justify-content-start mr-0"
                            href="index.html"
                            title="Different tools to compress all kinds of files">
                            <h3 class="font-weight-bold text-capitalize text-center">File Compressor</h3> 
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>


    

    <div class="">
        <div id="downloadEngineApp"></div>
        <div class="main-content sub subcontent">
        <div id="recaptchaContainer"></div>
            <div class="container content-header">
 
            </div>
        
            <div class="container">

                <div class="container content-header">
                    <div class="w-100 mx-0">
                        <h1>Compress .tiff Images</h1>
                        <h2 class="text-left">Use this image compressor to reduce tiff file sizes for easier sharing via email or uploading to the internet.</h2>
                    </div>
            </div>



                <div class="row">
                    <div class="col-md-12 col-lg-12 d-flex flex-column gap-10">
                        <div class="row">

                            <div class="col-12">
                                <div class="upload-container">                                                               
                                    <div class="uploadbox-wrapper d-flex flex-column gap-5">

                                        <form action="/compresstiff" method="POST" enctype="multipart/form-data">
                                            <div id="vue-uploadbox" class="vue-uploadbox-wrap p-10 bg-lighten br-8 position-relative bg-main-2">
                                                <div class="d-flex br-8 fg-white h-100 w-100 border-white border-dashed border-1 bg-main-2">
                                                    <div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center gap-150">
                                                        <label for="file-upload" class="d-flex flex-column align-items-center font-size-125 py-3">
                                                            <i class="fa fa-cloud-upload-alt fa-5x vue-uploadbox-icon"></i>
                                                            <span class="px-1 text-center vue-uploadbox-drop-text">Drop Files here</span>
                                                            <input type="file" id="file-upload" name="file" style="display: none;" onchange="displayFileName()">
                                                        </label>
                                                        <button type="button" onclick="document.getElementById('file-upload').click()" class="btn btn-light font-size-125 font-weight-bold text-nowrap mb-0">
                                                            Choose File
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <div class="form-group submit-btn-container d-flex align-items-center justify-content-between flex-wrap mb-0">
                                                <div class="d-flex gap-10">
                                                    <div id="selected-file-info" style="display: none;"></div>
                                                    <button type="submit" class="btn btn-lg submit-btn white-space-nowrap mb-0 d-flex align-items-center gap-10" disabled>
                                                        <strong class="text-uppercase convert_to">Start</strong>
                                                        <i class="fa fa-arrow-right lh-inherit"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        
                                        <script>
                                            function displayFileName() {
                                                var fileInput = document.getElementById('file-upload');
                                                var selectedFile = fileInput.files[0];
                                                var fileInfoDiv = document.getElementById('selected-file-info');
                                                fileInfoDiv.style.display = 'block';
                                                fileInfoDiv.textContent = 'Selected File: ' + selectedFile.name;
                                                document.querySelector('.submit-btn').removeAttribute('disabled');
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- <div class="">
        <div class="container" id="page_function_container">
            <div class="clearfix"></div>
            <div class="row">
                
                <div class="col-md-8 col-lg-8">                             <form id="sendform">
                    <input data-options-type="base" type="hidden" class="hidden" name="category" value="image"/>
                    <input data-options-type="options" data-value-type="boolean" type="hidden" class="hidden" name="allow_multiple_outputs" value="true"/>
                    <input data-options-type="base" type="hidden" class="hidden" name="target" value=""/>
                    
                    <div class="card mb-3">
                        <div class="card-header font-weight-bold">
                            <i class="fa fa-cogs"></i>
                            Settings
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputTarget">Compress image files to:</label>
                            <select data-options-type="base" class="form-control" id="inputTarget" name="target">
                                <option selected="selected" value="jpg">JPG</option>
                                <option value="png">PNG</option>
                            </select>
                        </div>
                    </div>

                    <div class="panel mb-1 form-group panel-default p-t-10 p-b-10 radio-toggle" data-type="radio" data-name="compress">
                        <div class="pull-left">
                            <input checked id="compress_basic" name="compress" data-value-type="string" data-options-type="options"
                                data-value="medium" type="radio" style="margin-top:5px;">
                        </div>
                        <div class="pull-left p-l-20">
                            <strong>Best Quality</strong>
                            <br>No visual difference
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="panel mb-4 form-group panel-default p-t-10 p-b-10 radio-toggle"
                        data-type="radio" data-name="compress">
                        <div class="pull-left">
                            <input id="compress_strong" name="compress" data-options-type="options" data-value-type="string"
                                type="radio" data-value="high" style="margin-top:5px;">
                        </div>
                        <div class="pull-left p-l-20">
                            <strong>Smallest File</strong>
                                    <br>Tiny file size<br>
                        </div>
                        <div class="pull-right">
                            <div class="badge badge-info text-uppercase">Best compression</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="panel mb-4 form-group panel-default p-t-10 p-b-10 radio-toggle hidden png-quality-panel"
                        data-type="radio" data-name="compress">
                        <div class="pull-left">
                            <input id="pngQualityRadio" name="compress" data-options-type="options" data-value-type="string"
                                type="radio" data-value="high" style="margin-top:5px;" data-option-ignore="true">

                            <input id="pngQualityPreset" name="quality" data-options-type="options" data-value-type="integer" class="hidden" data-option-ignore-for-target="true"
                                type="radio" data-value="80" data-option-ignore="true" data-category="image" data-parent-radio-id="pngQualityRadio">
                        </div>
                        <div class="pull-left p-l-20">
                            <strong>Best Quality</strong>
                                    <br>No visual difference<br>
                        </div>
                        <div class="pull-right">
                            <div class="badge badge-info text-uppercase">Lossless compression</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group submit-btn-container">
                        <div class="submit-btn-wrapper d-table">
                            <button type="button" class="btn btn-lg submit-btn mb-0 white-space-nowrap d-flex align-items-center gap-10" id="submitBtn" disabled>
                                <strong class="text-uppercase convert_to">Start</strong>
                                <i class="fa fa-arrow-right lh-1"></i>
                            </button>
                        </div>
                    </div>
                    <noscript>
                        <div id="noscriptAlert" class="alert alert-info alert-noscript no-border-radius"
                            role="alert">
                            <span><strong>Info:</strong> Please enable JavaScript for this website to function properly.</span>
                        </div>
                    </noscript>
                </form>
                </div>

            </div>
        </div> 

    </div> -->

    <h1>Compression Result</h1>
    {% if check == 1 %}
        <p>The document has been compressed successfully Download HERE!.</p>
        <p>DOWNLOAD HERE!</p>
        <p><a href="/download/{{ filename }}{{ ftype }}">Download Compressed Document</a></p>
    {% elif check == -1 %}
        <p>Error occurred during compression.</p>
    {% else %}
        <p>No file selected for compression.</p>
    {% endif %}


    <div class="content-breaker pb-0 ">

        <div class="color-stripe row w-100 no-margin ">
        <div class="bg-main-1"></div>
        <div class="bg-main-2"></div>
        <div class="bg-main-3"></div>
        <div class="bg-main-4"></div>
        <div class="bg-main-5"></div>
        <div class="bg-main-6"></div>
        <div class="bg-main-7"></div>
        <div class="bg-main-8"></div>
    </div>

    <div class="bg-white border-top">


    <div id="qg-toast-container">
        <div id="qg-toast"></div>
    </div>
             
    </body>

</html>
