<!DOCTYPE html>
<html lang="en" >

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
    <link rel="preload" href="{{ url_for('static', filename='assets/dist/fonts/mem5YaGs126MiZpBA-UNirkOX-hpOqc.f784b6eb.woff2') }}" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{{ url_for('static', filename='assets/dist/fonts/mem5YaGs126MiZpBA-UNirkOUuhv.7e06644b.woff') }}" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="{{ url_for('static', filename='assets/dist/fonts/mem8YaGs126MiZpBA-UFVZ0d.347639ec.woff') }}" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="{{ url_for('static', filename='assets/dist/fonts/fa-solid-900.f37f3d68.woff2') }}" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{{ url_for('static', filename='assets/dist/fonts/fa-regular-400.445f0cfc.woff2') }}" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{{ url_for('static', filename='assets/dist/fonts/fa-light-200.6ee2e1f4.woff2') }}" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{{ url_for('static', filename='assets/dist/fonts/fa-brands.8fbd5b1a.woff2') }}" as="font" type="font/woff2" crossorigin="anonymous">
    <title>File Compressor</title>
    <meta name="description" content="The best tool to reduce the file size of your files."/>
    <link rel="canonical" href="index.html"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/dist/3509.6d5bcb31.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/dist/qg-index.d73ab9b9.css') }}">

</head>

<body class="lang-en"   >
    <div id="userNotifications">
        <!-- do not delete -->
    </div>

    <div id="header" class="w-100 bg-white z-index-3 position-relative header-height-60">
        <div class="px-4 pl-4 pt-0 h-100">
            <div class="row justify-content-between h-100">
                <nav class="navbar d-flex z-index-2 px-0 py-0 position-static h-100 justify-content-between flex-grow-md-0">
                    <div class="d-flex h-100 align-items-center pl-1 md-pl-4">
                        <a class="navbar-brand pr-4 d-flex justify-content-start mr-0" href="/home" title="Different tools to compress all kinds of files">
                            <h3 class="font-weight-bold text-capitalize text-center">File Compressor</h3>
                        </a>
                    </div>

                    <div class="d-flex h-100 align-items-center pl-1 md-pl-4">
                        <a class="navbar-brand pr-4 d-flex justify-content-start mr-0" href="/decompress" title="Different tools to compress all kinds of files">
                            <h3 class="font-weight-bold text-capitalize text-center">File Decompressor</h3>
                        </a>
                    </div>

                </nav>
            </div>
        </div>
    </div>

    <div id="post-header" class="post-header">
        <div class="color-stripe row w-100 no-margin ">
            <div class="bg-main-1"></div>
            <div class="bg-main-2"></div>
            <div class="bg-main-3"></div>
            <div class="bg-main-4"></div>
            <div class="bg-main-5"></div>
            <div class="bg-main-6"></div>
            <div class="bg-main-7"></div>
            <div class="bg-main-8"></div>
        </div>
    </div>


    <div class="main-content mb-0">

        <div class="content-header p-b-0">
            <!-- do not delete -->
        </div>

        <div class="container-fluid">
            <div class="row">

                <div class="col-12 col-sm-6 col-md-3 col-lg-3 offset-lg-0 col-xl-3 px-1"> 
                    <!-- do not delete-->
                </div>

                <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 px-1">

                    <a class="tile-link" href="/compressimage" title="Image compression">
                        <div class="tile br-8 tile-main-2 row mx-0 tile-border-left shadow">
                            <div class="col-2 col-md-3 tile-icon no-gutters">
                                <i class="far fa-3x fa-file-image"></i>
                            </div>
                            <div class="col-10 col-md-9 tile-text">
                                <h3>Compress image</h3>
                                <p>Our powerful image compression tool that makes it easy to reduce the file size of different image files such as PNG, JPG, GIF, SVG, and more.</p>
                            </div>
                        </div>
                    </a>

                    <a class="tile-link" href="/compressdoc" title="Doc compression">
                        <div class="tile br-8 tile-main-1 row mx-0 tile-border-left shadow ">
                            <div class="col-2 col-md-3 tile-icon no-gutters">
                                <i class="far fa-3x fa-file-pdf"></i>
                            </div>
                            
                            <div class="col-10 col-md-9 tile-text">
                                <h3>Compress Doc</h3>
                                <p>A versatile document compressor that reduces file sizes of PDF, DOCX, HTML, Java, and PHP files. Choose your desired compression level for efficient document compression</p>
                            </div>
                        </div>
                    </a>                    
                </div>

                <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 px-1">
                    <a class="tile-link" href="/compresstiff" title="Compress to archive">
                        <div class="tile br-8 tile-main-4 row mx-0 tile-border-left shadow ">
                            <div class="col-2 col-md-3 tile-icon no-gutters">
                                <i class="far fa-3x fa-file-archive"></i>
                            </div>
                            <div class="col-10 col-md-9 tile-text">
                                <h3>Compress Tiff File</h3>
                                <p>Our powerful image compression tool that makes it easy to reduce the file size of different image files such as Tiff</p>
                            </div>
                        </div>
                    </a>

                    <a class="tile-link" href="compresszip" title="ZIP a file">
                        <div class="tile br-8 tile-main-4 row mx-0 tile-border-left shadow ">
                            <div class="col-2 col-md-3 tile-icon no-gutters">
                                <i class="far fa-3x fa-file-archive"></i>
                            </div>
                            <div class="col-10 col-md-9 tile-text">
                                <h3>Create ZIP file</h3>
                                <p>How to create a ZIP file? With this ZIP converter it&#039;s easy. Zip files and create compressed archives online.</p>
                            </div>
                        </div>
                    </a>  
                </div> 
            </div>
        </div>
    </div>
</div>

</div>


    <script async defer src="#"></script>



<div id="qg-toast-container">
    <div id="qg-toast"></div>
</div>
            
    </body>

</html>
